<div>
  <div class="container">
    <div class="row">
      <div class="col-md-8-ofset-4">
        <%= simple_form_for(@user) do |f| %>
          <div class="form-group">
            <%= f.input :first_name, label_html: {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.input :last_name, label_html: {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.input :email, label_html: {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.input :birthdate, as: :date, html5: true, label_html: {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.input :phone_number, label_html: {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.simple_fields_for :address do |ad| %>
              <%= render partial: 'partials/form_address', locals: {f: ad} %>
            <% end %>
            <span>
              <h3>Company:</h3>
            </span>
          </div>
          <div class="form-group">
            <%= f.simple_fields_for :company do |cf| %>
              <%= render partial: 'partials/form_company', locals: {f: cf} %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.button :submit, "Submit", class: "btn btn-xl btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
